<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Utilizando JinJa2, el motor de plantillas  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
    <title>{{ data.titulo }}</title> 
</head>
<body>
    <h1>{{ data.encabezado }}</h1>
    <p>Bienvenido a este curso de CodigoFacilito</p>
    
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>